body {
    display: flex;
    justify-content: center;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 130%
}

.container {
    border: 5px double black;
    padding: 30px;
}

p {
    margin-bottom: 0;
    font-weight: bold;
}

#title {
    margin: auto;
    display: flex;
    justify-content: center;
}